.wrapper {
  max-width: 600px;
  width: 100%;
  margin: 60px auto;
  background: #212121;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  font-family: "Telesans Text Regular", "Telesans Text", sans-serif;
  color: #fff;
}

.wrapperRed {
  composes: wrapper;
}


.twoColumn {
  display: grid;
  grid-template-columns: auto 150px;
}

.twoColumn > div {
  padding: 1rem 1.5rem;
}

.wrapper > div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wrapper > div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #111012;
  border-top: 4px solid rgba(17, 167, 239, 0.85);
}

.titles {
  margin-left: 15px;
  flex-grow: 1;
}

.titles h2 {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
}

.titles h3 {
  color: #a2a2a2;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.dueSoon {
  color: #ffb200;
}

.monoUpper {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 11px;
  display: block;
  margin-top: -6px;
}

.taskType {
  border-bottom: 1px solid #333;
  color: #a2a2a2;
  padding: 1rem 1.5rem;
  font-size: 14px;
}

.taskDetails {
  border-bottom: 1px solid #333;
  text-align: center;
}

.taskDetails h4 {
  color: #a2a2a2;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.taskDetails h3 {
  font-weight: 400;
  margin-bottom: 0;
}

.taskDetails h3 span:first-child {
  display: block;
  font-size: 90px;
  line-height: 0.8;
}

.taskDetails h3 span:last-child {
  font-size: 24px;
}

.peopleWrapper {
  border-right: 1px solid #333;
  display: flex;
  align-items: flex-start;
}

.developer {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

.developer h4 {
  margin-top: 0;
}

.developer img {
  margin-right: 10px;
}

.developer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.developer ul li {
  color: #a2a2a2;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-right: 10px;
}

.person:last-child {
  margin-right: 0;
}

.person img {
  margin: 5px 0 8px;
}

.personTitle {
  color: #a2a2a2;
  font-size: 12px;
}

.personName {
  font-size: 13px;
}

.status {
  text-align: center;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusGreen {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: green;
  margin-right: 5px;
  margin-bottom: -1px;
  margin-top: 6px;
}

/* compact styles */

.compact {
  margin: 25px auto;
}

.compact .peopleWrapper,
.compact .status {
  display: none;
}

.compact .header,
.compact .taskType,
.compact .twoColumn > div {
  padding: 0.7rem 1.5rem 0.5rem;
}

.compact .developer {
  border-bottom: 0;
  border-bottom-left-radius: 10px;
}

.compact .developer img {
  max-width: 70px;
}

.compact .taskDetails {
  border-bottom: 0;
  border-bottom-right-radius: 10px;
}

.compact .taskDetails h3 {
  margin-top: 5px;
}

.compact .taskDetails h3 span:first-child {
  font-size: 40px;
}

.compact .taskDetails h3 span:last-child {
  font-size: 18px;
}

.compact .taskDetails h4 {
  font-size: 14px;
  margin-top: -5px;
}
