.wrapper {
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  background: #153065;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  font-family: "Telesans Text Regular", "Telesans Text", sans-serif;
  color: #fff;
  border: 5px solid #fff;
}

.twoColumn {
  display: grid;
  grid-template-columns: auto 150px;
  background-color: #112219;
}

.twoColumn > div {
  padding: 10px;
}

.wrapper > div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wrapper > div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header {
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #0a4f29;
}

.titles {
  margin-left: 15px;
  flex-grow: 1;
}

.titles h2 {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
}

.titles h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.monoUpper {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 11px;
  display: block;
  margin-top: -6px;
}

.taskType {
  background-color: #112219;
  border-bottom: 1px solid #0a4f29;
  padding: 10px;
  font-size: 14px;
}

.taskDetails {
  border-bottom: 1px solid #0a4f29;
  text-align: center;
}

.taskDetails h4 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.taskDetails h3 {
  font-weight: 400;
  margin-bottom: 0;
}

.taskDetails h3 span:first-child {
  display: block;
  font-size: 90px;
  line-height: 0.8;
}

.taskDetails h3 span:last-child {
  font-size: 24px;
}

.peopleWrapper {
  border-right: 1px solid #0a4f29;
  display: flex;
  align-items: flex-start;
}

.developer {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #0a4f29;
  border-right: 1px solid #0a4f29;
}

.developer h4 {
  margin-top: 0;
}

.developer img {
  margin-right: 10px;
}

.developer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-right: 10px;
}

.person:last-child {
  margin-right: 0;
}

.person img {
  margin: 5px 0 8px;
}

.personTitle {
  font-size: 12px;
}

.personName {
  font-size: 13px;
}

.status {
  text-align: center;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusGreen {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: green;
  margin-right: 5px;
  margin-bottom: -1px;
  margin-top: 6px;
}
